* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayArea {
}

.text {
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 70%;
    height: 100px;
    resize: none;
    padding: 5px;
}

.c-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(13, 70, 177);
    color: white;
    width: 100%;
}

.c-button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c-nav-button {
    margin: 5px 3px 5px 3px;
}

.c-title-img {
    height: 10rem;
    width: auto;
}

.c-update-button-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-area-title {
    font-size: 16pt;
}

.note-area {
    width: fit-content;
    border-style: solid;
    border-radius: 2rem;
    border-width: 1px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: inset 1px 1px 2px 2px #0000002F;
    margin: 0.5rem 0rem 0.5rem 0rem;
    background-color: #90b2f1;
}

.input-items {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: inset 1px 1px 2px 2px #0000002F;
    background-color: #90b2f1;
    justify-content: center;
}

.input-item {
    width: 10hw;
    margin: 0px 5px 0px 5px;
}

.input-field {
    width: 90%;
    text-align: center;
}

.text {
    min-width: 30vw;
    border-radius: 1rem;
}